<ion-content class="ion-padding-top">
  <ion-item class="ion-text-center">Notification Settings</ion-item>
  <div class="ion-padding">
    <div class="ion-text-center">
      <ion-button (click)="sendNotification()">Send Notification</ion-button>
    </div>
    <!-- <br>
    <ion-list lines="none">
      <ion-datetime
        [showDefaultButtons]="true">
      </ion-datetime>
    </ion-list>
    <div class="ion-text-center">
      <ion-button (click)="getNotification()" fill="clear">Add</ion-button>
    </div> -->
  </div>
</ion-content>